<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        battcn.ns('battcn.admin.menu[[${OP.menuId}]]');
        $('#admin_menu[[${OP.menuId}]]_datagrid').bootstrapTable({
            url: [[${MENU.channel}]] + '/query',
            height: '100%',
            editable: true,
            sortName: 'gmtCreate',
            sortOrder: 'desc',
            striped: true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 25, 50, 100, 200],
            search: true,
            sidePagination: 'server',
            idField: 'id',
            uniqueId: 'id',
            responseHandler: responseHandler,
            queryParams: queryParams,
            minimumCountColumns: 2,
            clickToSelect: true,
            columns: [{
                checkbox: true
            }, {
                field: 'fullName',
                title: '公司全称',
                align: 'center',
                valign: 'middle',
                sortable: true
            }, {
                field: 'letterAbb',
                title: '公司字母简称',
                align: 'center',
                valign: 'middle',
                sortable: true
            },
                {
                    field: 'shortName',
                    title: '公司简称',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                }, {
                    field: 'type',
                    title: '供应商类别',
                    align: 'center',
                    valign: 'center',
                    sortable: true
                }, {
                    field: 'code',
                    title: '供应商代码',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                }, {
                    field: 'scc',
                    title: '统一社会信用代码',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'reg_address',
                    title: '注册地址',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'tel',
                    title: '联系电话',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'bank',
                    title: '开户行',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'account',
                    title: '银行账户',
                    align: 'center',
                    valign: 'middle',
                    sortable: true
                },{
                    field: 'deleted',
                    title: '是否停用',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    events: {'change .ss': function (e, value, row, index) {
                            var valueSelected = $(this).children('option:selected').val();
                           alert("事件" + valueSelected);
                        }
                    },

                    formatter:function(value,row,index){

                        var strHtml = "";
                        if(value == 1)
                        {
                            strHtml = "<select class='ss'><option value='0' >否</option><option value='1' selected='selected'>是</option></select>";
                        }
                        else
                        {  strHtml = "<select class='ss'><option value='0' selected='selected'>否</option><option value='1'>是</option></select>";

                        }
                        return strHtml;

                    }
                }]

        });

        //导出表格
        battcn.admin.menu[[${OP.menuId}]].export = function () {
            battcn.confirm(function () {
                location.href = "/op_export_[[${OP.menuId}]]";
            });
        };

        // 传递的参数
        function queryParams(params) {
            return {
                pageSize: params.limit,
                pageNum: params.offset / params.limit + 1,
                sort: params.sort,
                order: params.order,
                search : params.search, //搜索
                datetime: $("#datetime").val()
            }
        }

        //查询
        var search = 0;
        battcn.admin.menu[[${OP.menuId}]].search = function () {
            if ($("#datetime").val() !== '') {
                $('#admin_menu[[${OP.menuId}]]_datagrid').bootstrapTable('refresh');
                search++;
            } else {
                if (search !== 0) {
                    $('#admin_menu[[${OP.menuId}]]_datagrid').bootstrapTable('refresh');
                    search = 0;
                }
            }
        };
        battcn.admin.menu[[${OP.menuId}]].export = function () {
            battcn.confirm(function () {
                location.href = "/op_export_[[${OP.menuId}]]";
            });
        };
        //新增
        battcn.admin.menu[[${OP.menuId}]].add = function(){
            battcn.showWindow({
                title:'录入供应商信息',
                href:'op_edit_[[${OP.menuId}]]',
                width:'50%',
                height:'40%',
                okhandler:function(){
                    battcn.admin.menu[[${OP.menuId}]].save();
                },
                cancelhandler:function(){
                    battcn.closeWindow();
                }
            });
        }

        //编辑
        battcn.admin.menu[[${OP.menuId}]].edit = function() {
            var rows = $('#admin_menu[[${OP.menuId}]]_datagrid').bootstrapTable('getSelections');
            if (rows.length == 0) {
                battcn.toastrsAlert({
                    code: 'info',
                    msg: '请选择你要编辑的记录'
                });
                return;
            }
            if (rows.length > 1) {
                battcn.toastrsAlert({
                    code: 'warning',
                    msg: 'sorry , 只能选择一条进行编辑'
                });
                return;
            }
            battcn.showWindow({
                title: '编辑【' + rows[0].fullName + '】',
                href: '/op_edit_[[${OP.menuId}]]?id=' + rows[0].id,
                width: '80%',
                height: '80%',
                okhandler: function () {o
                    battcn.admin.menu[[${OP.menuId}]].save();
                },
                cancelhandler: function () {
                    battcn.closeWindow();
                }
            });
        }s

    });
    /*]]>*/
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group" style="margin-top: 15px">
                            <label class="control-label col-sm-2">供应商类别</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="datetime"/>
                            </div>
                            <label class="control-label col-sm-2">省份</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="datetime"/>
                            </div>
                        </div>
                        <div class="btn-group" style="margin-top: 15px">

                                <button type="button"
                                        th:onclick="@{battcn.admin.menu{menuId}.search()(menuId=${OP.menuId})}"
                                        class="btn btn-primary">查询
                                </button>


                        </div>
                    </form>
                </div>
            </div>
            <div th:include="toolbar :: toolbar-operate"></div>
            <div class="table-responsive">
                <table th:id="@{admin_menu{menuId}_datagrid(menuId=${OP.menuId})}"
                       data-toolbar="#toolbar" data-show-refresh="true"
                       data-show-toggle="true" data-show-columns="true"
                       data-show-footer="false" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
</html>